body {
    margin: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #fff;
    font-weight: lighter;
}
/*Divisions*/
.card {
    width: cover;
    margin: auto auto;
    padding: 10px auto;
    justify-content: center;
    
    background: #fff;
    border: 6px solid none;
    border-radius: 10px;
    box-shadow: -2px 2px 20px rgb(64, 66, 69);
}

#hero-hat-section {
    display: flex;
    justify-content: space-around;
    margin: auto auto;
}

.btn-hero {
    height: auto;
    background-color: whitesmoke;

    font-size: .875rem;
    font-weight: 500;
    color: #131313;
    
    border: 1px solid rgb(178, 179, 184);
    border-radius: 0.5rem;
    padding: 4px 8px;


}

.btn-on-site-remote{
    width: auto;
    height: auto;
    background-color: whitesmoke;
   

    font-size: 8px;
    font-weight: 300;
    color: #131313;
    
    border: 1px solid rgb(178, 179, 184);
    border-radius: 0.5rem;
    padding: 5px 5px;
    margin: 0px auto;
    align-items: start;

}

#hero-section {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 0px;
}

.avatar {
    width: 300;
    height: 400;
    border: 1px solid rgb(178, 179, 184);
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 20px 20px;
    box-shadow: 0px 0px 0px rgb(11, 12, 13);

}

#intro-text {
    width: 550px;
    height: 400px;
    text-align: left;
    flex-direction: column;
    padding-top: auto auto;
    background: whitesmoke;
    border: 1px solid rgb(178, 179, 184);
    border-radius: 10px;
    margin: 10px 10px;
    justify-content: center;
    
}

p {
    font-size: 17px;
    padding: 0px 0px;
}

.footer {
    margin-top: 50px;
    text-align: center;
}

button {
    background-color:#131313;
    width: 200px;
    color: #f9f4f4;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 10px 40px;
    margin: 10px 10px;
    border-radius: 10px;
    border: none;

}

button:hover {
    background-color: #cbe8ea;
}

.text-pads {
    margin: 0px 20px;
}
.hi {
    font-size: 30px;
    text-shadow: 0px 0px 0px rgb(92, 99, 100);
    padding: 0px 30px;
}

.left-align {
    width: 200px;
    text-align: left;
    padding: 0% 20px;
    margin: 0px;
}

#text-block {
    display: flex;
    text-align: center;

}

.elements {
    width: 15px;
}

.span {
    font-weight: initial;
}

.underline {
    font-weight: initial;
    border-bottom: 2px solid black;
}

input {
    width: 400;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin: 5px 0px;
    background-color:whitesmoke;

}

#input-email {
    width: 700;
}

#input-message {
    width: 700;
}

.education {
    text-align: center;
    font-weight: 100;
}

#dot {
    width: 14px;
    padding-right: 8;
}

#location-element {
    width: 10px;
    padding-right: 8;
}
/* Add a black background color to the top navigation */
.topnav {
    width: cover;
    height: 40;
    text-align: center;
    background-color: #333;
    overflow: hidden;
    background: whitesmoke;
    border: 1px solid rgb(178, 179, 184);
    border-radius: 10px;
    box-shadow: 1px 1px 10px darkgrey;
    margin: 50 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #272626;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    width: 150;
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    width: 150;
    background-color: #d7d7d7;
    color: #272626;
  }

  #logo {
    width: 25px;
    border-radius: 20%;
    margin: 10;
    border: 1px solid rgb(178, 179, 184);
  }

  #resume-section {
    width: 80%;
    margin: 5px auto;
    padding: 20px 40px;
    text-align: left;
    background: whitesmoke;
    border: 1px solid rgb(178, 179, 184);
    border-radius: 10px;
    
  }

  #page-break {
    border-bottom: 1px solid rgb(178, 179, 184);;
  }

  .Resume-sub-section {
    display: flex;
    justify-content: space-between;

  }

  .h3-resume {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0px;
  }

  .h4-resume{
    font-size: 12px;
    font-weight: 300;
  }

  .btn-resume-date {
    height: 25px;
    background-color: whitesmoke;

    font-size: 12px;
    font-weight: 400;
    color: #131313;
    
    border: 1px solid rgb(178, 179, 184);
    border-radius: 0.5rem;
    padding: 4px 8px;
    margin: 10px 0px;
  }

  .img-resume {
    width: 350;
    height: 400;
    border: 1px solid rgb(178, 179, 184);
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 20px 20px;
    box-shadow: 0px 0px 0px rgb(11, 12, 13);

}

  #img-contactme {
    width: 100px;
    border-radius: 10%;
  }

  #email-contact-section {
    margin: auto;
    padding: 80px 10px 20px;
    background-color: #eae9e9eb;
    border: none solid rgb(178, 179, 184);
    border-radius: 15px;
    width: 700px;
  }



  